{% extends 'base.html.twig' %}
{% block title %}Add Clinic{% endblock %}
{% block body %}
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Doctor Patient App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('admin') }}">Home</a></li>
            <li><a href="{{ path('user_info_index') }}">Manage Users</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Clinic <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('add_clinic') }}">Clinic Setup</a></li>
                <li><a href="{{ path('doctor_list') }}">Doctor List</a></li>
                <li><a href="{{ path('patient_list') }}">Patient List</a></li>
                <li><a href="{{ path('diagnosis_categories') }}">Diagnosis List</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Manage Doctors/Patients/Diagnosis</li>
                <li><a href="{{ path('doctor') }}">Add Doctor</a></li>
                <li><a href="{{ path('patient-add') }}">Add Patient</a></li>
                <li><a href="{{ path('add_diagnosis_category') }}">Add Diagnosis Category</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Add Clinic <a href="{{ path('clinic_list') }}" class="btn btn-info pull-right btn-sm">View Clinic List</a></h3></div>
    <div class="panel-body">
		
		{{ form_start(form) }}
			<div class="form-group col-md-6">
        <label>Clinic Name:</label>
			{{ form_widget(form.clinicName) }}
		</div>
    <div class="form-group col-md-6">
        <label>Clinic Email:</label>
      {{ form_widget(form.email) }}
    </div>
    <div class="form-group col-md-4">
      <label>Opening Time:</label>
      {{ form_widget(form.schedStart) }}
    </div>
    <div class="form-group col-md-4">
      <label>Closing Time:</label>
      {{ form_widget(form.schedEnd) }}
    </div>
		<div class="form-group col-md-4" style="margin-top:15px;">
			<input type="submit" class="btn btn-success" value="Add Clinic">
		</div>
		{{ form_end(form) }}	
			</div>

      </div>
		</div>
	</div>	
</div>
{% endblock %}