{% extends 'base.html.twig' %}
{% block title %}List of Doctors{% endblock %}

{% block body %}
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Doctor Patient App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('admin') }}">Home</a></li>
            <li><a href="{{ path('user_info_index') }}">Manage Users</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Clinic <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('add_clinic') }}">Clinic Setup</a></li>
                <li><a href="{{ path('doctor_list') }}">Doctor List</a></li>
                <li><a href="{{ path('patient_list') }}">Patient List</a></li>
                <li><a href="{{ path('diagnosis_categories') }}">Diagnosis List</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Manage Doctors/Patients/Diagnosis</li>
                <li><a href="{{ path('doctor') }}">Add Doctor</a></li>
                <li><a href="{{ path('patient-add') }}">Add Patient</a></li>
                <li><a href="{{ path('add_diagnosis_category') }}">Add Diagnosis Category</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>List of Doctors<a href="{{ path('doctor') }}" class="btn btn-primary pull-right btn-sm">Add New Doctor</a></h3></div>
<div class="panel-body">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Accreditation Code</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for doctor in doctors %}
				<tr>
					<td>{{ doctor.userInfo.lname }}, {{ doctor.userInfo.fname }} {{ doctor.userInfo.mname }}, {{ doctor.userInfo.suffix }}</td>
					<td> {{ doctor.accreditationinfo.accreditationcode }}</td>
					<td>
						<a href="{{ path('user_edit_profile', { 'id': doctor.id }) }}" class="btn btn-info btn-xs">EDIT</a>
						<a href="{{ path('user_profile_show', { 'id': doctor.id }) }}" class="btn btn-danger btn-xs">SHOW</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
</div>
</div>
{% endblock %}
