{% extends 'base.html.twig' %}

{% block title %}Add Diagnosis Page{% endblock %}

{% block body %}
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ path('doctor-home') }}">Doctor Patient App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('doctor-home') }}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Add Diagnosis
      
      <p class="pull-right">Patient Name: {% for patient in patients %} {{ patient.userInfo.fname }} {{ patient.userInfo.mname }} {{ patient.userInfo.lname }}</p>
{% endfor %} </h4></div>


    <div class="panel-body">
      {{ form_start(form) }}

      <div class="form-group col-md-4">
        <label>Check up Date:</label>
      {{ form_widget(form.checkupDate) }}
    </div>
    <div class="form-group col-md-8">
      <label>Reason:</label>
      {{ form_widget(form.checkupReason) }}
    </div>
    <div class="form-group col-md-4">
      <label>Diagnosis Category:</label>
      {{ form_widget(form.diagnosiscategory) }}
    </div>
    <div class="form-group col-md-8">
      <label>Diagnosis:</label>
      {{ form_widget(form.diagnosis) }}
    </div>
    <div class="form-group col-md-12">
      <input type="submit" name="save" value="SAVE" class="btn btn-success pull-right">
    </div>
      {{ form_end (form)}}
    </div>
  </div>
</div>
{% endblock %}